*{margin: 0; padding: 0;} 
.menu-top
{

}
h4.logo
{
	text-transform: uppercase;
	color:;
	line-height: 50px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px;
	padding: 0px 20px 0px 20px ;
	margin: 2px;
}
nav.navbar.navbar-light.bg-faded.navbar-fixed-top
{
    background:white;
    box-shadow: 1px 1px 5px;
}
a.nav-link 
{
	font-family:tahoma ;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	line-height: 50px;
}
.navbar-light .navbar-nav .nav-link 
{
    color: #818a91;
}
li.nav-item
{
	padding: 0;
	margin: 0 20px;
}
/*-------------------------*/
@media (max-width: 767px) 
{
	*{}
	a.navbar-brand
	{
		display:block;
		text-align: center;
		width: 100%;
	}
	a.nav-link
	{
		line-height: 15px;
		display: inline!important;
		font-size: 13px;
	}
	li.nav-item
	{
		display: inline!important;
		float: none;
		margin: 0 0 ;
	}
	ul.nav.navbar-nav.float-xs-right
	{
		float:none!important;;
		text-align: center;
	}
}
/*----------------------------*/
body,html
{
	width: 100%;
	height: 100%;
}
.khoitt1
{
	width: 100%;
	height: 100%;
	background: #e9585f;
}
.khoitt1:before
{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background:#e4555b ;
	z-index: 1;
}
/*-----------*/
.tt
{
	position: relative;
	z-index: 2;
	padding-top: 20%;
	display: block;
}
.tt img
{
	border-radius: 50%;
	margin-bottom: 20px;
	width: 180px;
	height: 180px;
} 
.tt img:hover
{
	transform: scale(1.1);
	transition: 0.4s;
}
.tt h2
{
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.tt p
{
	color: black;
	font-size: 16px;
	line-height: 20px;
	width: 50%;
	margin: auto;
	margin-bottom: 20px
}
.tt a.btn.btn-primary 
{
    width: 185px;
    background: black;
    border: none;
    color: white;
	border:1px ;
    border-radius: 0px;
    transition: 0.4s;
    font-weight: bold;
}
.tt a.btn.btn-primary:hover 
{
   border-radius: 0px;
   border:0px solid white;
	background: white;
	font-weight: bold;
	color:black;
	transition: 0.4s;
}
@media (max-width: 767px)
{
	.tt 
	{
		padding-top: 50%;
	}
}

